@import "../GeneralStyle/reset.css";
body {
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  
  /*LOGIN*/
  .login,
  .cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    color: black;
    padding: 20px;
    margin: 150px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  
  .login h2 {
    text-align: center;
    color: black;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 58px;
    text-align: center;
  }
  .login input {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .login button {
    background-color: #a66cff;
    color: #ffffff;
    border: #a66cff;
    width: 307.66px;
    height: 40px;
    left: 560.07px;
    top: 650.89px;
    box-shadow: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .login .forgot {
    margin: 20px;
    font-weight: 800;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
  }
  .login .forgot a {
    font-size: 14px;
    color: #a66cff;
    font-weight: extrabold;
  }
  